// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Slabo+13px');

body {
font-family:Lato, arial, sans-serif;
}

.tb-megamenu li a {text-decoration:none; color:#ffffff; font-size:1.2em;}

.front h1 {
  display: none;
}

h1 {
color:#6a6a6a;
font-family:Slabo, Slabo 13px, Georgia, Serif;
}

.tb-megamenu {
background-color:#313131;
}

.tb-megamenu .dropdown-menu
{
border-color:#6eca3e;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover
{
background-color:#6a6a6a;
}

.site-logo {
margin-bottom:10px;
}

.l-header {
margin-top:20px;
}

.views-field-title {
font-family:Slabo, Slabo 13px, Georgia, Serif;
}

.tb-megamenu-item:nth-child(1) {background-color:#000000;}
.tb-megamenu-item:nth-child(2) {background-color:#cc0000;}

/* bones break free campaign menu */

.block-block-8 {
background-color:#eaf5ff;
padding:10px;
}

.block-block-8 a{
font-color:#083052;
}

.block-block-8 h2 a{
text-decoration:none;
}
